<div class="row">
    <h1> Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li>
            <h1>E.E.T.N.1</h1> - <h3>1983 - 1989</h3>
        </li>
        <p> tecnico electronico
            MATRICULA 2637
            
            C.O.P.I.T.E.C. consejo profecional de ingenieria de telecomunicaciones, electronica y computacion. </p>
    </ul>
    <ul>
        <li>
            <h1>U.T.N.</h1> - <h3>1990 - 1994</h3>
        </li>
        <p> Ingenieria Electronica
            Ing.Electronica 4 años cursados carrera pendiente</p>
    </ul>
    <ul>
        <li>
            <h1>Certificacion varias</h1> - <h3>2018 - 2022</h3>
        </li>
        <p>-Instructor IPC 610 Acptabilidad Ensambles electronico 
            -Instructor IPC 7711/21 Reproceso ,Reparacion Y Modificacion de Ensambles Electronios 
            -Microsoft Office 2016 - Word Básico 
            -Microsoft Office 2016 - Word Avanzado 
            -Microsoft Office 2016 - PPT Básico 
            -Microsoft Office 2016 - PPT Avanzado 
            -Microsoft Office 2016 - Excel Básico 
            -Microsoft Office 2016 - Excel Avanzado 
            -administración efectiva del tiempo 
            -atención al cliente -Ciberseguridad 
            -Comercialización -Comunicación eficaz 
            -Proceso de venta -Liderazgo 
            -Marketing directo -Negociación 
            -Planificación estratégica del negocio 
            -Redacción corporativa -Seguridad en oficinas 
            -Trabajo en equipo -Inteligencia Emocional 
            -Sistema de Gestión Integrado -Soldadura de Brazing 
            -Machine Learning 
            - Básico -SQL 
            - Módulo 1 
            -Python para Principiantes 
            -Lean Manufacturing 
            -Manejo de instrumentos de medición 
            -Uso de Materias Primas 
            - Dobladoras -Neurociencias 
            - Conceptos básicos 
            -Lean Manufacturing:
             5S y SMED 
             -Diseño y Desarrollo Web Básico 
             -Kaizen: Mejora continua 
             -Agilidad Organizacional 
             -C# - Módulo 1 
             -Cripto Economía 
             -PNL: Lenguaje Corporal 
             -Comunicación en un Equipo de Trabajo 
             -Big Data & Business Intelligence 
             -Inteligencia Emocional 
             -Kaizen Mejora continua 
             -Neurociencia-Concepto 
             -Agilidad Organizacional 
             -Lean Manufacturing 5S y SMED 
             -Uso de Materias Primas 
             -Calidad en el Servicio al Cliente 
             -Claridad en el Mensaje 
             -Factor Humano en los Equipos de Trabajo 
             -Herramientas para Gestionar un Proyecto 
             -Innovación para poder crecer 
             -Propuesta Comercial Vendedora 
             -Manejando las Prioridades 
             -Redacción y Uso de Emails y Documentos 
             -Power BI 
             - Intermedio 
             -C# Módulo 2 
             -C# Módulo 3 
             -Diseño y Desarrollo Web 
             - Intermedio -Visual Basic .NET Módulo 1 
             -SQL Módulo 2 
             -Python - Módulo 2 
             -Empoderamiento y Liderazgo Femenino 
             -Equipo de trabajo más productivo 
             -Estrés laboral 
             -Gestión de recursos humanos en ámbitos divers 
             -Digitaliza paso a paso tu negocio con Google My Business y YouTube 
             -Fundamentos de Marketing Digital 
             -Competencias digitales para profesionales 
             -Familiarízate con los básicos principios de la programación 
             -Curso de Desarrollo de Apps Móviles 
             -Curso de Introducción al Desarrollo Web: HTML y CSS (1/2) 
             -Curso de Introducción al Desarrollo Web: HTML y CSS (2/2) 
             -Cloud Computing -certificación argentina programa 1 (se programar) .
             </p>
    </ul>
    </div>
    
