<div class="row">
<h1> Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>hospital Churruca // D.E.P.L.I.</h1> - <h3>años 1992- 2000</h3>
    </li>
    <p>ElectroMedicina
        Servicio tecnico mantenimiento. </p>
</ul>
<ul>
    <li>
        <h1>Newsan s.a.</h1> - <h3>mayo 2005 - actualidad 2022</h3>
    </li>
    <p>Tecnico oficial
        tecnico-analista-reparador- productos 
        : celulares-tv-computacion-aire acondicionado-electro-
        lineas de ensamble como producto terminado, prueba de vida,
         ingnieria de laboratorio y diseño.</p>
</ul>
<ul>
    <li>
        <h1>FullStack Developer jr</h1> - <h3>Septiembre 2022 actualidad</h3>
    </li>
    <p> Analista-Solucionador Fallas De Productos En  la Industria Electronica </p>
</ul>
</div>
